<form class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-12">
            <input ng-model="modal.credentials.username"
                   id="username"
                   name="username"
                   class="form-control"
                   placeholder="Nazwa użytkownika"
                   required=""
                   maxlength="30">
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 col-sm-12 no-padding">
            <input ng-model="modal.credentials.password"
                   id="password"
                   name="password"
                   type="{{modal.passwordSwitch && 'password' || 'text' }}"
                   class="form-control" placeholder="Hasło"
                   required=""
                   maxlength="30">
        </div>
        <div class="visible-xs col-xs-2 no-padding">
            <i class="fa fa-2x fa-search m-t-xs"
               ng-click="modal.switchPassword()"></i>
        </div>
    </div>

    <app-shake-error shake-error="modal.shakeError"></app-shake-error>
</form>
