@import "../../../variables";

.chatbox {
    width: 300px;
}

.chat-window {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    padding: 10px;
}

.chat-message {
    background-color: $color-primary;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
    padding: 5px;
 }

.chat-textbox {
    width: 236px;
    border: none;
    padding: 5px;
    margin-right: 0;
    position: relative;
    left: 3px;
}

.chat-button {
    background-color: $color-primary;
    color: white;
    border: none;
    padding: 5px;
}
