<app-common-panel id="description-component" title="Opis">
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="m-b">
            Witamy w wirtualny spacerze po placówce Wydziału Nauk Społecznych w Poznaniu.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies tristique lectus, eu
            eleifend
            leo mattis id. Integer et iaculis lectus. Phasellus quis tincidunt ipsum. Praesent faucibus
            malesuada
            consectetur. Suspendisse pulvinar erat in sem blandit, vel ultrices nunc consectetur. Phasellus
            turpis
            ipsum, lacinia nec mollis et, laoreet at orci. Proin scelerisque mattis nisl, in finibus turpis
            luctus
            non. Aliquam erat volutpat. Vestibulum maximus efficitur rhoncus. Phasellus vel sapien felis.

        </p>
        <a href="#tour-component"
           class="btn btn-rounded btn-inverse btn-xl sr-button page-scroll">
            Skorzystaj
        </a>
    </div>
</app-common-panel>
