<app-common-panel id="description-component" title="Opis">
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>
            Dzień Dobry kandydacie. Witamy w wirtualny przewodniku po placówce Wydziału Nauk Społecznych w Poznaniu.
            Poniżej widizsz makietę wydziału. Kliknij w któreś z drzwi, a uzyskasz dalsze informacje o
            o konkretnym obiekcie, filmy, zdjęcia oraz prezentację. W prawym dolnym rogu znajduję się czat,
            który umożliwia zadanie pytania w dowolnym momencie "wycieczki". Nasi przewodnicy odpowiedzą
            na Twoje pytania najszybciej jak to możliwe.
        </p>
    </div>
</app-common-panel>
