@import "../../../variables";

#description-component {
    background-color: #fff;
}

.btn.btn-rounded {
    color: #fff;
    background-color: $color-primary;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 40px;
    font-size: 16px;
}

.btn.btn-rounded:hover {
    color: #fff;
    background-color: $color-primary-darker;
}

section p {
    font-size: 17px;
    line-height: 1.5;
}

.tooltiptest {
    position: relative;
    display: inline-block;
}

.tooltiptest .tooltiptexttest {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    transition: opacity 1s;
}

.tooltiptest .tooltiptexttest::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltiptest:hover .tooltiptexttest {
    visibility: visible;
    opacity: 1;
}
