<!DOCTYPE html>
<html lang="pl" ng-app="app">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <base href="/">
</head>
<body>
<app-root id="app-root" ng-class="$state.current.name"></app-root>
</body>
</html>
