@import "variables";

html, body, #app-root, #header-wrapper {
    width: 100%;
}

html, body {
    height: 100%;
    background-color: $color-primary;
}

section hr {
    border-top: 3px solid $color-primary;
    width: 60px;
}

section hr.dark {
    border-color: $color-primary;
}

section hr.light {
    border-color: #fff;
}

section.section-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

.m-b-sm {
    margin-bottom: 10px;
}

.m-b {
    margin-bottom: 15px;
}

.text-center {
    text-align: center;
}

.no-margin {
    margin-left: 0;
    margin-right: 0;
}
