<nav>
    <div class="navbar">
        <a href="#">
            <img src="../images/UAM.png" class="navbar-logo">
            <div class="navbar-faculty">Wydział Nauk Społecznych</div>
        </a>
        <div class="navbar-icons">
            <div class="navbar-icon" ng-click="headerCtrl.openLoginModal()">
                <img src="../images/login.svg">Zaloguj
            </div>
            <div class="navbar-icon" ng-click="headerCtrl.openChat()">
                <img src="../images/chat.svg">Czat
            </div>
            <div class="navbar-icon" ui-sref="faq">
                <img src="../images/faq.svg">FAQ
            </div>
            <div class="navbar-icon" ng-if="$root.authenticated" ng-click="headerCtrl.openAdmin()">
                <i class="fa fa-2x fa-lock"></i>Panel administracyjny
            </div>
            <div class="navbar-icon" ng-if="$root.authenticated" ng-click="headerCtrl.logout()">
                <i class="fa fa-2x fa-sign-out"></i>Wyloguj
            </div>
        </div>
    </div>
</nav>
<div ng-if="headerCtrl.chat" ng-class="{chat: popup-box-on}">
    <app-chat></app-chat>
</div>
