@import "../../variables";

.navbar {
    background-color: $color-primary;
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0;
    padding: 15px;
    z-index: 100;
}

.navbar-logo {
    height: 50px;
    margin-right: 40px;
    float: left;
}

.navbar-faculty {
    font-family: Tahoma, sans-serif;
    font-size: 18pt;
    font-weight: normal;
    color: white;
    position: relative;
    top: 7px;
    float: left;
}

.navbar-icons {
    float: right;
    height: 100%;
    position: relative;
    top: 2px;
}

.navbar-icon {
    font-family: Tahoma, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
}

.navbar-icon img, .navbar-icon i.fa {
    height: 23px;
    display: block;
    margin: 0 auto 9px auto;
}

@media (max-width: 670px) {
    .navbar-faculty {
        display: none;
    }
}
