<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Wydział Nauk Społecznych - Wirtualny spacer</a>
            <button type="button" class="navbar-toggle" ng-click="$ctrl.navCollapsed = !$ctrl.navCollapsed">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div uib-collapse="$ctrl.navCollapsed" class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <i class="fa fa-2x fa-comment"></i>
                        <span>Czat</span>
                    </a>
                    <a ui-sref="faq">
                        <i class="fa fa-2x fa-question-circle"></i>
                        <span>Faq</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header>
    <img src="{{$ctrl.headerPath}}">
</header>
