<nav>
    <div class="navbar">
        <a href="#">
            <img src="../images/UAM.png" class="navbar-logo">
            <div class="navbar-faculty">Wydział Nauk Społecznych</div>
        </a>
        <div class="navbar-icons">
            <div class="navbar-icon" ng-click="headerCtrl.openLoginModal()"><img src="../images/login.svg">ZALOGUJ</div>
            <div class="navbar-icon" ng-click="headerCtrl.openChat()"><img src="../images/chat.svg">CZAT</div>
            <div class="navbar-icon" ui-sref="faq"><img src="../images/faq.svg">FAQ</div>
        </div>
    </div>
</nav>
<div ng-if="headerCtrl.chat" ng-class="{chat: popup-box-on}">
    <app-chat></app-chat>
</div>
