<app-common-panel id="faq-container" title="FAQ">
    <div class="col-xs-12">
        <div class="panel-group">
            <div class="panel panel-default" ng-repeat="faq in faqCtrl.faqs">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a>{{faq.title}}</a>
                    </h4>
                </div>
                <div class="panel-body">
                    {{faq.description}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-9 col-lg-3 col-md-offset-8 col-md-4 col-sm-offset-6 col-sm-6 col-xs-12">
            <button type="button" class="btn btn-primary full-width" data-toggle="modal" data-target="#exampleModal"
                    data-whatever="@mdo">
                Dodaj nowy FAQ
            </button>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Pytanie:</label>
                            <input type="text" class="form-control" id="recipient-name" ng-model="faqCtrl.title">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Odpowiedź:</label>
                            <textarea class="form-control" id="message-text"
                                      ng-model="faqCtrl.description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-primary" ng-click="faqCtrl.sendFaq()" data-dismiss="modal">
                        Dodaj
                    </button>
                </div>
            </div>
        </div>
    </div>
</app-common-panel>
