<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4>© 2017 Korek Team. Wszystkie prawa zastrzeżone.</h4>
            </div>
            <small>
                Używamy informacji zapisanych za pomocą cookies i podobnych technologii m.in. w celach
                statystycznych. W
                programie służącym do obsługi internetu można zmienić ustawienia dotyczące cookies. Korzystanie z
                naszych serwisów internetowych bez zmiany ustawień dotyczących cookies oznacza, że będą one zapisane
                w
                pamięci urządzenia.
            </small>
            <div class="col-xs-12 m-b-sm">
                <a href="#" ng-click="footerCtrl.openLoginModal()">Zaloguj się</a>
            </div>
        </div>
    </div>
</footer>
