@import "../../variables";

.footer {
    background-color: $color-primary;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    padding: 10px;
    text-align: center;
    z-index: 100;
}

.footer-bigger-text {
    font-family: Tahoma, sans-serif;
    font-size: 9pt;
    color: white;
}

.footer-smaller-text {
    font-family: Tahoma, sans-serif;
    font-size: 8pt;
    color: white;
}
