<div class="container carousel-container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li ng-repeat="slide in tourGuideCtrl.slides track by $index" data-target="#myCarousel"
                data-slide-to={{$index}} ng-class="{active: $index == '0'}"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <img ng-src="{{tourGuideCtrl.slides[0].image}}" alt="Los Angeles" style="width:100%;">
                <div class="carousel-caption">
                    <h3>{{tourGuideCtrl.slides[0].description}}</h3>
                </div>
            </div>

            <div class="item" ng-repeat="slide in tourGuideCtrl.slides" ng-if="$index > 0">
                <img ng-src="{{slide.image}}" alt="Chicago" style="width:100%;">
                <div class="carousel-caption">
                    <h3>{{slide.description}}</h3>
                </div>
            </div>

        </div>
    </div>
</div>
