@import "../../../variables";

.tour-guide > .row {
    padding: 30px;
}

#tour-component > iframe {
    min-height: 500px;
    min-width: 100%;
}

.doors {
    box-shadow: 0 0 50px $hover-accent;
    border-radius: 50%;
    width: 100%;
}

#first {
    margin-top: 5%;
    left: 20%;
}

#second {
    left: 45%;
    margin-top: 3%;
}

#third {
    margin-top: 1%;
    left: 74%;
}

#fourth {
    margin-top: 20%;
    left: 75%;
}
