tour-guide > .row {
    padding: 30px;
}

#tour-component > iframe {
    min-height: 500px;
    min-width: 100%;
}

#tour-component > .overlay-container {
    padding: 1em;
}

#makieta {
    width: 100%;
    height: 400px;
}

.doors {
    box-shadow: 15px 15px 15px;
    width: 100%;
}

#first {
    margin-top: 5%;
    left: 20%;
}

#second {
    left: 45%;
    margin-top: 3%;
}

#third {
    margin-top: 1%;
    left: 74%;
}

#fourth {
    margin-top: 11%;
    left: 75%;
}
