<section id="tour-component">
    <img ui-sref="tourGuide({ buildingID: 1 })" src="../../images/door.png" id="first" class="doors">
    <img ui-sref="tourGuide({ buildingID: 2 })" src="../../images/door.png" id="second" class="doors">
    <img ui-sref="tourGuide({ buildingID: 3 })" src="../../images/door.png" id="third" class="doors">
    <img ui-sref="tourGuide({ buildingID: 4 })" src="../../images/door.png" id="fourth" class="doors">
    <img src="../../images/makieta_3200dpi.png" id="makieta">
</section>

