tour-guide > .row {
    padding: 30px;
}

#tour-component > iframe {
    min-height: 500px;
    min-width: 100%;
}

#makieta {
    width: 100%;
    height: 400px;
}

.doors {
    position: absolute;
    width: 80px;
    cursor: pointer;
}

#first {
    margin-top: 5%;
    left: 20%;
}

#second {
    left: 45%;
    margin-top: 3%;
}

#third {
    margin-top: 3%;
    left: 74%;
}

#fourth {
    margin-top: 12%;
    left: 75%;
}
