<section id="tour-component">
    <div class="overlay-container" id="first">
        <img src="../../images/door.png" class="doors">
        <div class="overlay" ui-sref="tourGuide({ buildingID: 1 })">
            <div class="text-middle">
                Opis
            </div>
        </div>
    </div>
    <div class="overlay-container" id="second">
        <img src="../../images/door.png" class="doors">
        <div class="overlay" ui-sref="tourGuide({ buildingID: 2 })">
            <div class="text-middle">
                Opis
            </div>
        </div>
    </div>
    <div class="overlay-container" id="third">
        <img src="../../images/door.png" class="doors">
        <div class="overlay" ui-sref="tourGuide({ buildingID: 3 })">
            <div class="text-middle">
                Opis
            </div>
        </div>
    </div>
    <div class="overlay-container" id="fourth">
        <img src="../../images/door.png" class="doors">
        <div class="overlay" ui-sref="tourGuide({ buildingID: 4 })">
            <div class="text-middle">
                Opis
            </div>
        </div>
    </div>
    <img src="../../images/institution-model.png" class="full-width">
</section>

